<nav class="navbar navbar-light bg-light">
  <%= link_to "Simple Airbnb", flats_path, style: "text-decoration: none;" %>
  <%= link_to "Add Flat", new_flat_path, class: "btn btn-primary"  %>
</nav>
<div class="" style='background-image: url("https://source.unsplash.com/random/?house"); background-size: cover; height: 400px; background-position: center;'></div>

<div class="container w-75 d-flex justify-content-center align-items-top">
  <div class="info flew-grow-1">
    <div class="m-5 shadow-sm bg-light px-5 py-1">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>
    <div class="m-5 shadow-sm bg-light px-5 py-1">
      <h2>A bit more about this flat</h2>
      <p><%= @flat.description %></p>
    </div>
    <div class="m-5 shadow-sm bg-light px-5 py-1">
      <h1>Details</h1>
      <p><%= @flat.number_of_guests %>👥 <%= @flat.price_per_night %>€</p>
    </div>
  </div>
  <div class="reservation">
    <div class="m-5 shadow-sm bg-light px-5 py-1">
      <p>Book this place</p>
      <a href="#" class="btn btn-success">Next features</a>
    </div>
  </div>
</div>
